@model WebTimKiemPhongTro.Models.TinDang
@{
    ViewBag.Title = "Item";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}


<style>
    #mapCanvas {
        height: 600px;
        margin-left: 100px;
        margin-right: 100px;
    }

    * {
        box-sizing: border-box
    }

    .mySlides1, .mySlides2 {
        display: none
    }

    img {
        vertical-align: middle;
    }
    /* Slideshow container */
    .slideshow-container {
        max-width: 720px;
        max-height: 370px;
        position: relative;
        margin: auto;
        margin-bottom: 20px;
    }
    /* Next & previous buttons */
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }
    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }
        /* On hover, add a grey background color */
        .prev:hover, .next:hover {
            background-color: #f1f1f1;
            color: black;
        }
    /*--------------------------*/
    <style >
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    #map {
        height: 100%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>
<!-- Sub banner start -->
<div class="sub-banner">
    <div class="container">
        <div class="breadcrumb-area">
            <h1>Thông tin phòng chi tiết</h1>
            <ul class="breadcrumbs">
                <li><a href="/Home/Home">Trang chủ</a></li>
                <li class="active">Thông tin</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub banner end -->
<!-- Properties details page start -->
<div class="properties-details-page content-area-15">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-xs-12 slider">
                <div id="propertiesDetailsSlider" class="carousel properties-details-sliders slide mb-30">
                    <div class="heading-properties">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-left col-7">
                                    <h3>@Model.TieuDe</h3>
                                    <p><i class="fa fa-map-marker"></i>  @Model.DiaChi</p>
                                </div>
                                <div class="p-r col-5">
                                    <h3>@Html.FormatValue(Model.GiaTien, "{0:#,###}") VND/Tháng</h3>
                                    <p><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- main slider carousel items -->
                    <div class="carousel-inner">
                        <div class="row">
                            <div class="light-slide-item">
                                <div class="clearfix">
                                    @{ var iamge = Model.Image.Split(',');

                                    }

                                    <div class="slideshow-container">
                                        @foreach (var i in iamge)
                                        {
                                            <div class="mySlides1 item carousel-item">
                                                <img src="~/Content/assets/img/uploadimage/@i" style="width: 729px; height: 486px;border:solid 3px">
                                            </div>
                                        }


                                        <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
                                        <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- main slider carousel nav controls -->

                </div>
                <!-- Search area start -->
                <!-- Tabbing box start -->
                <div class="tabbing tabbing-box mb-60">
                    <ul class="nav nav-tabs" id="carTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active show" id="one-tab" data-toggle="tab" href="#one" role="tab" aria-controls="one" aria-selected="false">Thông tin mô tả</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="5-tab" data-toggle="tab" href="#5" role="tab" aria-controls="5" aria-selected="true">Địa chỉ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="6-tab" data-toggle="tab" href="#6" role="tab" aria-controls="6" aria-selected="true">Tin liên quan</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="carTabContent">
                        <div class="tab-pane fade active show" id="one" role="tabpanel" aria-labelledby="one-tab">
                            <h3 class="heading-3">Mô tả chi tiết tin đăng</h3>
                            <p>
                                @Html.Raw(Model.MoTa)
                            </p>
                        </div>



                        <div class="tab-pane fade " id="5" role="tabpanel" aria-labelledby="5-tab">
                            <div class="section location">
                                <h3 class="heading-3">Google Map</h3>
                                <div class="map">
                                    <div id="contactMap" class="contact-map"></div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade " id="6" role="tabpanel" aria-labelledby="6-tab">
                            <div class="related-properties">
                                <h3 class="heading-3">Tin liên quan</h3>
                                <div class="row">
                                    @{
                                        DateTime startTime = DateTime.Now;
                                        DateTime endTime = Model.NgayDang;
                                        TimeSpan span = startTime.Subtract(endTime);
                                    }
                                    @{ var tinlienquan = ViewData["TinLienQuan"] as IList<WebTimKiemPhongTro.Models.TinDang>; }
                                    @for (int i = 0; i < 2; i++)
                                    {

                                        <div class="col-md-6">
                                            <div class="property-box">
                                                <div class="property-thumbnail">
                                                    @{ var image = tinlienquan[i].Image.Split(','); }
                                                    <a href="@Url.Action("Item", "Details", new { id = tinlienquan[i].MaTin })" class="property-img">
                                                        <div class="listing-badges">
                                                            @{
                                                                if (Model.Loai.MaLoai == 1)
                                                                {
                                                                    <span class="featured">Tin Vip</span>
                                                                }
                                                                else { }
                                                            }

                                                        </div>
                                                        <img style="width:350px;height:233px;" src="~/Content/assets/img/uploadimage/@image[0]" alt="property-1" class="img-fluid">
                                                    </a>
                                                    <div class="property-overlay">
                                                        <a href="properties-details.html" class="overlay-link">
                                                            <i class="fa fa-link"></i>
                                                        </a>
                                                        <div class="property-magnify-gallery">
                                                            <a href="http://placehold.it/750x540" class="overlay-link">
                                                                <i class="fa fa-expand"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="detail">
                                                    <h1 class="title">
                                                        <a href="properties-details.html">@truncate(tinlienquan[i].TieuDe, 25)</a>
                                                    </h1>
                                                    <div class="location">
                                                        <span class="pull-left"><b> Diện tích :</b> @tinlienquan[i].DienTich m2  </span>  <br />
                                                        <span><b> Giá Phòng : </b>@Html.FormatValue(tinlienquan[i].GiaTien, "{0:#,###}") VND/Tháng</span><br />
                                                        <a href="@Url.Action("Item", "Details", new { id = tinlienquan[i].MaTin })">
                                                            <i class="flaticon-facebook-placeholder-for-locate-places-on-maps"></i> @truncate(tinlienquan[i].DiaChi, 28)
                                                        </a>

                                                    </div>

                                                </div>
                                                <div class="footer">
                                                    <a href="#">
                                                        <i class="fa fa-user"> @tinlienquan[i].Name </i>
                                                    </a>
                                                    <span>
                                                        <span style="float:right">@date(span)</span>
                                                        <i class="fa fa-calendar-o"></i>

                                                    </span>
                                                </div>

                                            </div>

                                        </div>
                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="section-content">
                    <div class="section-header"><h3 class="section-title">Đặc điểm tin đăng</h3></div>
                    <table class="table">
                        <tr>
                            <td class="name">Mã tin:</td>
                            <td>#@Model.MaTin</td>
                        </tr>
                        <tr>
                            <td class="name">Khu vực</td>
                            <td> Cho thuê phòng trọ Hồ Chí Minh </td>
                        </tr>
                        <tr>
                            <td class="name">Đối tượng thuê:</td>
                            <td>Tất cả</td>
                        </tr>
                        <tr>
                            <td class="name">Gói tin:</td>
                            <td><span style="color: #E13427;">@Model.Loai.TenLoai</span></td>
                        </tr>
                        <tr>
                            <td class="name">Ngày đăng:</td>
                            <td><time title="Chủ Nhật, 14:19 28/11/2021">@Model.NgayDang</time></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="sidebar mbl">
                    <!-- Categories start -->
                    <div class="user-profile-box mrb">
                        <!--header -->
                        <div class="header clearfix">
                            <h2>@Model.Name</h2>

                            @{
                                if (@Model.AspNetUsers.Image == null)
                                {
                                    <img class="img-fluid profile-img" src="~/assets/img/149071.png" alt="Ảnh người dùng">
                                }
                                else
                                {
                                    <img class="img-fluid profile-img" src="~/Content/assets/img/uploadimage/@Model.AspNetUsers.Image" alt="Ảnh người dùng">
                                }
                            }
                        </div>
                        <!-- Detail -->
                        <div class="detail clearfix" style="padding-left: 15px;">
                            <table>
                                <tr>
                                    <td>
                                        <b>Tên:</b>
                                    </td>
                                    <td>

                                        <b>Đinh Xuân Quang</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Điện thoại:</b>
                                    </td>
                                    <td>
                                        <a href="tel:0973050592">@Model.Sdt</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Zalo, Facebook:</b>
                                    </td>
                                    <td>


                                        <a href="https://zalo.me/@Model.Zalo"><img src="~/assets/img/zalo.png" width="40px" /></a>
                                        <a href="@Model.Facebook" style="margin-left:10px"><img src="~/assets/img/facebook.svg.png" width="40px" /></a>
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </div>
                    <div class="social-list widget clearfix">
                        <h5 class="sidebar-title">Thông tin cá nhân</h5>
                        <ul>
                            <li><a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="google-bg"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="rss-bg"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#" class="linkedin-bg"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <!-- Recent posts start -->
                    @helper truncate(String input, int length)
                    {if (input.Length < length)
                        {
                            @input }
                        else
                        {
                            @input.Substring(0, length) <text>...</text>}
                    }
                    @helper date(TimeSpan time)
                    {if (time.Days >= 1)
                        {
                            @time.Days <text> Ngày trước </text> }
                        else if (time.Hours > 1)
                        {
                            @time.Hours <text> Giờ trước </text> }
                        else if (time.Minutes > 1)
                        {
                            @time.Minutes <text> Phút trước </text> }
                        else
                        {
                            @time.Seconds <text> Giây trước </text>}


                    }
                    <div class="widget recent-posts">
                        <h5 class="sidebar-title">Tin gần đây</h5>
                        @{ var tinmoi = ViewData["TinMoi"] as IList<WebTimKiemPhongTro.Models.TinDang>; }
                        @for (int i = 1; i < 6; i++)
                        {
                            var anh = tinmoi[i].Image.Split(',');
                            <div class="media mb-4">
                                <a href="@Url.Action("Item","Details",new { id=tinmoi[i].MaTin})">
                                    <img src="~/Content/assets/img/uploadimage/@anh[0]" height="50px" alt="sub-property">
                                </a>
                                <div class="media-body align-self-center">
                                    <h5>
                                        <a href="@Url.Action("Item","Details",new { id=tinmoi[i].MaTin})"> @truncate(tinmoi[i].TieuDe, 20) </a>
                                    </h5>
                                    <p>@Html.FormatValue(tinmoi[i].GiaTien, "{0:#,###}") VND/Tháng</p>
                                </div>
                            </div>
                        }
                    </div>

                    <!-- Social list start -->

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Properties details page end -->


<script>
    var slideIndex = [1, 1];
    var slideId = ["mySlides1", "mySlides2"]
    showSlides(1, 0);
    showSlides(1, 1);
    function plusSlides(n, no) {
        showSlides(slideIndex[no] += n, no);
    }
    function showSlides(n, no) {
        var i;
        var x = document.getElementsByClassName(slideId[no]);
        if (n > x.length) { slideIndex[no] = 1 }
        if (n < 1) { slideIndex[no] = x.length }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex[no] - 1].style.display = "block";
    }
</script>
