
<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!-- External CSS libraries -->
    @Styles.Render("~/assets/css/bootstrap.min.css")
    @Styles.Render("~/assets/css/magnific-popup.css")
    @Styles.Render("~/assets/css/jquery.selectBox.css")
    @Styles.Render("~/assets/css/dropzone.css")
    @Styles.Render("~/assets/css/rangeslider.css")
    @Styles.Render("~/assets/css/animate.min.css")
    @Styles.Render("~/assets/css/leaflet.css")
    @Styles.Render("~/assets/css/slick.css")
    @Styles.Render("~/assets/css/slick-theme.css")
    @Styles.Render("~/assets/css/map.css")
    @Styles.Render("~/assets/css/jquery.mCustomScrollbar.css")
    <link type="text/css" rel="stylesheet" href="~/assets/fonts/font-awesome/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="~/assets/fonts/flaticon/font/flaticon.css">
    @Scripts.Render("~/bundles/modernizr")
    <!-- Favicon icon -->
    <link rel="shortcut icon" href="~/assets/img/favicon.ico" type="image/x-icon">

    <!-- Google fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800%7CPlayfair+Display:400,700%7CRoboto:100,300,400,400i,500,700">

    <!-- Custom Stylesheet -->
    @Styles.Render("~/assets/css/style.css")
    @Styles.Render("~/assets/css/skins/default.css")

</head>
<body id="top" class="index-body">
    <!-- Top header start -->
    <header class="top-header top-header-bg" id="top-header-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-7">
                    <div class="list-inline">
                        <a href="tel:1-7X0-555-8X22"><i class="fa fa-phone"></i>1-7X0-555-8X22</a>
                        <a href="tel:info@themevessel.com"><i class="fa fa-envelope"></i>info@themevessel.com</a>
                        <a href="#" class="mr-0"><i class="fa fa-clock-o"></i>Mon - Sun: 8:00am - 6:00pm</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-5">
                    <ul class="top-social-media pull-right">
                        <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="google"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- Top header end -->
    <!-- main header start -->
    <header class="main-header do-sticky" id="main-header-2">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-lg navbar-light rounded">
                        <a class="navbar-brand logo-2" href="/Home/home">
                            <img src="~/assets/img/logos/black-logo.png" alt="logo" />
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="fa fa-bars"></span>
                        </button>
                        <div class="navbar-collapse collapse w-100" id="navbar">
                            <ul style="float:left;" class="navbar-nav ml-auto">
                                <li class="nav-item ">
                                    <a class="nav-link " href="/Home/home">Trang Chủ</a>
                                </li>
                               @* <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Phòng cho thuê
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <li><a class="dropdown-item" href="index-2.html">Cho Thuê Phòng Trọ</a></li>
                                        <li><a class="dropdown-item" href="index.html">Cho Thuê Căn Hộ</a></li>
                                        <li><a class="dropdown-item" href="index-2.html">Cho Thuê Nhà Nguyên Căn</a></li>
                                    </ul>
                                </li>*@
                                <li class="nav-item ">
                                    <a class="nav-link " href="/User/DangTin"> Đăng tin</a>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Ví Tiền
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <li><a class="dropdown-item" href="~/Home/HuongDan">Hướng dẫn nạp tiền</a></li>
                                        <li><a class="dropdown-item" href="~/Home/Giaodich">Lịch sử giao dịch</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link " href="/Contact/Create">Liên Hệ</a>
                                </li>
                                @Html.Partial("_LoginPartial")
                                @*<li class="nav-item ">
                                    <a href="/Account/Login" class="nav-link "><i class="fa fa-sign-in"></i> Đăng nhập </a>
                                </li>
                                <li class="nav-item ">
                                    <a href="/Account/Register" class="nav-link "><i class="fa fa-user"></i> Đăng kí</a>
                                </li>*@
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- main header end -->
    @RenderBody();
    <!-- Footer start -->
    <footer class="footer">
        <div class="container footer-inner">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                    <div class="footer-item">
                        <h4>Liên Hệ</h4>
                        <ul class="contact-info">
                            <li>
                                <i class="flaticon-facebook-placeholder-for-locate-places-on-maps"></i>475A Điện Biên Phủ, P.25, Q. Bình Thạnh
                            </li>
                            <li>
                                <i class="fa fa-envelope"></i><a href="mailto:sales@hotelempire.com">475A Điện Biên Phủ, P.25, Q. Bình Thạnh</a>
                            </li>
                            <li>
                                <i class="fa fa-phone"></i><a href="tel:+55-417-634-7071">+0285 445 2222</a>
                            </li>
                            <li>
                                <i class="fa fa-fax"></i>+55 417 634 7X71
                            </li>
                            <li>
                                <i class="fa fa-skype"></i><a href="mailto:info@green.com">info@green.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                    <div class="footer-item">
                        <h4>
                            Liên kết trang
                        </h4>
                        <ul class="links">
                            <li>
                                <a href="#"><i class="fa fa-angle-right"></i>Trang Chủ</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-angle-right"></i>Cho Thuê Trọ</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-angle-right"></i>Cho Thuê Căn Hộ</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-angle-right"></i>Cho Thuê Nhà Nguyên Căn</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-angle-right"></i> Liên Hệ</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                    <div class="footer-item clearfix">
                        <h4>Đăng kí</h4>
                        <div class="Subscribe-box">
                            <p>Đăng kí để nhận tin mới nhất từ website của chúng tôi.</p>
                            <form action="#" method="GET">
                                <p>
                                    <input type="text" class="form-contact" name="email" placeholder="Enter Address">
                                </p>
                                <p>
                                    <button type="submit" name="submitNewsletter" class="btn btn-block btn-color">
                                        Đăng kí
                                    </button>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sub-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <p class="copy">© 2018 <a href="#">Theme Vessel.</a> Trademarks and brands are the property of their respective owners.</p>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <ul class="social-list clearfix">
                            <li><a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="google-bg"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="linkedin-bg"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer end -->
    <!-- Full Page Search -->
    <div id="full-page-search">
        <button type="button" class="close">×</button>
        <form action="#" class="search">
            <input type="search" value="" placeholder="type keyword(s) here" />
            <button type="button" class="btn btn-sm btn-color">Search</button>
        </form>
    </div>

    <!-- Property Video Modal -->
    <div class="modal property-modal fade" id="propertyModal" tabindex="-1" role="dialog" aria-labelledby="propertyModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="propertyModalLabel">
                        Find Your Dream Properties
                    </h5>
                    <p>
                        <i class="flaticon-facebook-placeholder-for-locate-places-on-maps"></i> 123 Kathal St. Tampa City,
                    </p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            </div>
        </div>
    </div>

    <!-- Off-canvas sidebar -->
    <div class="off-canvas-sidebar">
        <div class="off-canvas-sidebar-wrapper">
            <div class="off-canvas-header">
                <a class="close-offcanvas" href="#"><span class="fa fa-times"></span></a>
            </div>
            <div class="off-canvas-content">
                <aside class="canvas-widget">
                    <div class="logo-sitebar text-center">
                        <img src="~/assets/img/logos/logo.png" alt="logo">
                    </div>
                </aside>
                <aside class="canvas-widget">
                    <ul class="menu">
                        <li class="menu-item menu-item-has-children"><a href="index.html">Trang chủ</a></li>
                        <li class="menu-item"><a href="properties-grid-leftside.html">Cho Thuê Trọ</a></li>
                        <li class="menu-item"><a href="properties-details.html">Cho Thuê Căn Hộ</a></li>
                        <li class="menu-item"><a href="blog-single-sidebar-right.html">Cho Thuê Nhà Nguyên Căn</a></li>
                        <li class="menu-item"><a href="about.html">Liên Hệ</a></li>
                    </ul>
                </aside>
                <aside class="canvas-widget">
                    <ul class="social-icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-vk"></i></a></li>
                    </ul>
                </aside>
            </div>
        </div>
    </div>

    <script src="~/assets/js/jquery-2.2.0.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/app.js"></script>
    <script src="~/assets/js/wow.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/bootstrap-submenu.js"></script>
    <script src="~/assets/js/app.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>