@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()


        <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @User.Identity.GetUserName()
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="/User/ProfileUser">Hồ sơ của tôi</a></li>
                <li><a class="dropdown-item" href="/User/Taisancuatoi">Tài sản của tôi</a></li>
                <li><a class="dropdown-item" href="/Manage/ChangePassword">Thay đổi mật khẩu</a></li>
                <li><a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Thoát</a></li>
            </ul>
        </li>
        @*   <div class="dropdown " style="padding-top:8px;">
                <a href="#" class="nav-link " data-bs-toggle="dropdown" style="">@User.Identity.GetUserName()</a>
                <div class="dropdown-menu">
                    <a href="/User/ProfileUser" class="dropdown-item" style="color:black">Hồ sơ của tôi</a>
                    <a href="/User/Taisancuatoi" class="dropdown-item" style="color:black">Tài sản của tôi</a>
                    <a href="/Manage/ChangePassword" class="dropdown-item" style="color:black">Thay đổi mật khẩu</a>
                    <a href="javascript:document.getElementById('logoutForm').submit()" class="dropdown-item" style="color:black">Thoát</a>

                </div>
            </div>*@

    }
}
else
{
<li class="nav-item dropdown ls-bgn">
    <a href="/Account/Login" class="btn btn-sm signup-link"><i class="fa fa-sign-in"></i> Đăng nhập </a>
    <a href="/Account/Register" class="btn btn-sm btn-theme signup-link bg-active"><i class="fa fa-user"></i> Đăng kí</a>
</li>

    @*  <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Đăng Ký", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Đăng Nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>*@
}
