@model WebTimKiemPhongTro.Models.TinDang

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}


<h3 class="text-center" >Bạn có muốn xóa tin này không?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Email")
        </dt>
        
        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.Email)
        </dd>

        <dt>
            @Html.Label("Tên Loại")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Loai.TenLoai)
        </dd>

        <dt>
            @Html.Label("Tiêu Đề")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TieuDe)
        </dd>

        <dt>
            @Html.Label("Chuyên Mục")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChuyenMuc)
        </dd>

        <dt>
            @Html.Label("Giá Tiền")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaTien)
        </dd>

        <dt>
            @Html.Label("Diện Tích")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DienTich)
        </dd>

        <dt>
            @Html.Label("Mô Tả")
        </dt>

        <dd>
            @Html.Raw(@Html.TextAreaFor(model => model.MoTa, new { @cols = "100", @rows = "8", id = "txt_details" }))
        </dd>

        <dt>
            @Html.Label("Ngày Đăng")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDang)
        </dd>

        <dt>
            @Html.Label("Địa Chỉ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

      

        <dt>
            @Html.Label("Số Ngày Đăng")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoNgay)
        </dd>
        <dd>


        </dd>

    </dl>



</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @*<div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>*@
    <div class="form-actions no-color" style="margin-left:180px !important">
        <input type="submit" value="Xóa" class="btn btn-default" style="color: #ffffff; background: #2196f38f; box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12); padding: 0.5em 1em; display: inline-block; margin: 0.5em 0; margin-left: 0em !important; width:56px!important" />
        <button type="button" class="btn btn-default" style="color: #ffffff; background: #00aecd94; box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12); padding: 0.5em 1em; display: inline-block; margin: 0.5em 0;">@Html.ActionLink("Hủy", "Taisancuatoi", new { id = Model.MaTin })</button>
    </div>
}
@Styles.Render("~/Content/Giaodich.css")
@section scripts{
    <script src="https://cdn.ckeditor.com/ckeditor5/29.1.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#txt_details'), {
                // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
            })
            .then(editor => {
                window.editor = editor;
            })
            .catch(err => {
                console.error(err.stack);
            });
    </script>
}





