@model IEnumerable<WebTimKiemPhongTro.Models.AspNetUsers>

@{
    ViewBag.Title = "ProfileUser";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<style>
    button, a {
        color: white;
    }
</style>

@foreach (var item in Model)
{
    <!-- Sub banner start -->
    <div class="sub-banner">
        <div class="container">
            <div class="breadcrumb-area">
                <h1>Thông Tin Cá Nhân</h1>
                <ul class="breadcrumbs">
                    <li><a href="/Home/Home">Trang chủ</a></li>
                    <li class="active">Hồ sơ của tôi</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Sub banner end -->
    <!-- User page start -->
    <div class="user-page content-area-7 submit-property">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="user-profile-box mrb">
                        <!--header -->
                        <div class="header clearfix">
                            <h2>@item.Name</h2>
                            @{
                                if (@item.Image == null)
                                {
                                    <img class="img-fluid profile-img" src="~/assets/img/149071.png" alt="Ảnh người dùng">
                                }
                                else
                                {
                                    <img class="img-fluid profile-img" src="~/Content/assets/img/uploadimage/@item.Image" alt="Ảnh người dùng">
                                }
                            }
                        </div>
                        <!-- Detail -->
                        <div class="detail clearfix">
                            <h6><span style="font-weight:900"> Tên người dùng:</span> @item.Name</h6>
                            <h6>
                                @{
                                    if (item.ViTien == 0)
                                    {
                                        <span style="font-weight:900"> Số dư:</span><span> 0 /VND</span>
                                    }
                                    else
                                    {
                                        <span style="font-weight:900"> Số dư:</span><span> @Html.FormatValue(@item.ViTien, "{0:#,###}")</span>
                                        <span>/VNĐ</span>
                                    }
                                }

                            </h6>
                            <ul>
                                <li>
                                    <a href="/User/ProfileUser" >
                                        <i class="flaticon-user"></i>Thông tin cá nhân
                                    </a>
                                </li>
                                <li>
                                    <a href="/User/Taisancuatoi">
                                        <i class="flaticon-house"></i>Quản lý tin đăng
                                    </a>
                                </li>

                                <li>
                                    <a href="/User/DangTin">
                                        <i class="flaticon-add"></i>Đăng tin mới
                                    </a>
                                </li>
                                <li>
                                    <a href="/Manage/ChangePassword">
                                        <i class="flaticon-locked-padlock"></i>Đổi mật khẩu
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:document.getElementById('logoutForm').submit()">
                                        <i class="flaticon-logout"></i>Thoát
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12">
                    <div class="my-address contact-2">
                        <h3 class="heading-3">Thông tin cá nhân</h3>
                        <form action="#" method="GET" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-lg-12 ">
                                    <div class="form-group name">
                                        <label>Họ và tên</label>
                                        <input readonly type="text" name="name" class="form-control" value="@item.Name">
                                    </div>
                                </div>
                                <div class="col-lg-12 ">
                                    <div class="form-group name">
                                        <label>Email</label>
                                        <input readonly type="text" name="name" class="form-control" value="@item.Email">
                                    </div>
                                </div>
                                @*<div class="col-lg-12 ">
                                        <div class="form-group name">
                                            <label>Tên người dùng :</label>
                                            <input readonly type="text" name="name" class="form-control" value="@item.UserName">
                                        </div>
                                    </div>*@
                                <div class="col-lg-12">
                                    <div class="form-group email">
                                        <label>Facebook :</label>
                                        <input readonly type="text" name="title" class="form-control" value="@item.Facebook">
                                    </div>
                                </div>
                                <div class="col-lg-12 ">
                                    <div class="form-group subject">
                                        <label>Phone :</label>
                                        <input readonly type="text" name="phone" class="form-control" value="@item.PhoneNumber">
                                    </div>
                                </div>
                                <div class="col-lg-12 ">
                                    <div class="form-group number">
                                        <label>Zalo :</label>
                                        <input readonly type="email" name="zalo" class="form-control" value="@item.Zalo">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="send-btn">
                                        <button type="submit" class="btn btn-color btn-md btn-message">@Html.ActionLink("THAY ĐỔI ", "EditProfile", new { id = item.Id })</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- User page end -->


}




