@model PagedList.IPagedList<WebTimKiemPhongTro.Models.TinDang>
@*@model IEnumerable<WebTimKiemPhongTro.Models.AspNetUsers>*@
@using PagedList;
@using PagedList.Mvc;
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
@{ ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutMain.cshtml"; }
@helper truncate(String input, int length)
{if (input.Length < length)
    {
        @input }
    else
    {
        @input.Substring(0, length) <text>...</text>}
}

<style>
    button {
        color: white;
    }

    h6 {
        margin-left: 20px
    }
</style>

<!-- Sub banner start -->
<div class="sub-banner">
    <div class="container">
        <div class="breadcrumb-area">
            <h1>Thông Tin Cá Nhân</h1>
            <ul class="breadcrumbs">
                <li><a href="/Home/Home">Trang chủ</a></li>
                <li class="active">Hồ sơ của tôi</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub banner end -->
<!-- User page start -->
<div class="user-page content-area-7 submit-property">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="user-profile-box mrb">
                    <!--header -->
                    <div class="header clearfix">
                       @* <h2>Emma Connor</h2>
                        <h4>Creative Director</h4>*@
                        <img src="~/assets/img/149071.png" alt="avatar" class="img-fluid profile-img">
                    </div>
                    <!-- Detail -->
                    <div class="detail clearfix">
                        <ul>
                            <li>
                                <a href="/User/ProfileUser">
                                    <i class="flaticon-user"></i>Thông tin cá nhân
                                </a>
                            </li>
                            <li>
                                <a href="/User/Taisancuatoi">
                                    <i class="flaticon-house"></i>Quản lý tin đăng
                                </a>
                            </li>

                            <li>
                                <a href="/User/DangTin">
                                    <i class="flaticon-add"></i>Đăng tin mới
                                </a>
                            </li>
                            <li>
                                <a href="/Manage/ChangePassword">
                                    <i class="flaticon-locked-padlock"></i>Đổi mật khẩu
                                </a>
                            </li>
                            <li>
                                <a href="javascript:document.getElementById('logoutForm').submit()">
                                    <i class="flaticon-logout"></i>Thoát
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12">
                <div class="my-properties">
                    <table class="manage-table">
                        <thead>
                            <tr>
                                <th>Thông tin</th>
                                <th></th>
                                <th>Ngày đăng</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>

                        @foreach (var item in Model)
                        {
                            <tbody class="responsive-table">
                                <tr>
                                    @{ var image = item.Image.Split(','); }
                                    <td class="listing-photoo">
                                        <img alt="my-properties-3" src="~/Content/assets/img/uploadimage/@image.FirstOrDefault()" style="width:160px;height:108px" class="img-fluid">
                                    </td>
                                    <td class="title-container">
                                        <h5><a href="@Url.Action("Item", "Details", new { id = item.MaTin })">@truncate(item.TieuDe, 25)</a></h5>
                                        <h6><b>Giá:</b> @Html.FormatValue(@item.GiaTien, "{0:#,###}")</h6>
                                        <p><i class="flaticon-facebook-placeholder-for-locate-places-on-maps"></i>  @truncate(item.DiaChi, 28) </p>
                                    </td>
                                    <td class="date">
                                        @item.NgayDang
                                    </td>
                                    <td class="action">
                                        <ul>
                                            <li>
                                                <i class="fa fa-pencil"></i> @Html.ActionLink("Edit", "EditTindang", new { id = item.MaTin })
                                            </li>
                                            <li>
                                                <i class="fa fa-remove"></i>@Html.ActionLink("Delete", "Delete", new { id = item.MaTin })
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        }
                    </table>

                </div>
                <br />
                <style>
                    .pagination {
                        display: inline-block;
                    }

                        .pagination a {
                            color: black;
                            float: left;
                            padding: 8px 16px;
                            text-decoration: none;
                        }
                </style>
                <div class="pagination-box text-center">
                    <nav aria-label="Page navigation example">

                        @Html.PagedListPager(Model, page => Url.Action("Taisancuatoi", new { @class = "page-link", page }))

                    </nav>
                </div>
            </div>

        </div>
    </div>
</div>
