@model WebTimKiemPhongTro.Models.Lien_He

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<!-- Sub banner start -->
<div class="sub-banner">
    <div class="container">
        <div class="breadcrumb-area">
            <h1>Trang Liên Hệ</h1>
            <ul class="breadcrumbs">
                <li><a href="/Home/Home">Trang chủ</a></li>
                <li class="active">Liên Hệ</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub banner end -->
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <!-- Contact 2 start -->
    <div class="contact-2 content-area-2">
        <div class="container">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 contact-info">
                        <i class="fa fa-map-marker"></i>
                        <h5>Địa Chỉ Văn Phòng</h5>
                        <p>475A Điện Biên Phủ, P.25, Q. Bình Thạnh</p>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 contact-info">
                        <i class="fa fa-phone"></i>
                        <h5>Số Điện Thoại</h5>
                        <p>+0285 445 2222</p>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 contact-info">
                        <i class="fa fa-envelope"></i>
                        <h5>Email</h5>
                        <p>phongtrotructuyen@gmail.com</p>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 contact-info">
                        <i class="fa fa-fax"></i>
                        <h5>Zalo</h5>
                        <p>+55 417 634 7X71</p>
                    </div>
                </div>
            </div>
            <form>
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <div class="form-section">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h3>Thông tin</h3>
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group name">
                                        @Html.EditorFor(model => model.Hoten, new { htmlAttributes = new { @class = "form-control", placeholder = "Họ tên" } })
                                        @Html.ValidationMessageFor(model => model.Hoten, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group email">
                                        @Html.EditorFor(model => model.Gmail, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
                                        @Html.ValidationMessageFor(model => model.Gmail, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group number">
                                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", placeholder = "Number" } })
                                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group message">
                                        @Html.TextAreaFor(model => model.NoiDung, new { @cols = "100", @rows = "8", id = "txt_details", @class = "form-control ", @name = "message", placeholder = "Nội dung..." })
                                        @Html.ValidationMessageFor(model => model.NoiDung, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="send-btn">
                                        <button type="submit" class="btn btn-color btn-md">Gửi </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="opening-hours">
                            <h3>
                                ‎Giờ mở cửa‎
                            </h3>
                            <ul class="day">
                                <li><strong>Chủ Nhật</strong> <span class="text-red"> Đóng cửa</span></li>
                                <li><strong>Thứ 2</strong> <span> 10 AM - 8 PM</span></li>
                                <li><strong>Thứ 3  </strong> <span> 10 AM - 8 PM</span></li>
                                <li><strong>Thứ 4 </strong> <span> 10 AM - 8 PM</span></li>
                                <li><strong>Thứ 5 </strong> <span> 10 AM - 8 PM</span></li>
                                <li><strong>Thứ 6 </strong> <span> 10 AM - 8 PM</span></li>
                                <li><strong>Thứ 7 </strong> <span> 10 AM - 8 PM</span></li>
                            </ul>
                            <h3>Theo dõi chúng tôi‎</h3>
                            <ul class="social-list clearfix">
                                <li><a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="google-bg"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" class="rss-bg"><i class="fa fa-rss"></i></a></li>
                                <li><a href="#" class="linkedin-bg"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Contact 2 end -->
}
@*
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Lien_He</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Hoten, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Hoten, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Hoten, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Gmail, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Gmail, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Gmail, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NoiDung, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NoiDung, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NoiDung, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

*@
