@model WebTimKiemPhongTro.Models.AccountAdmin

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutShare.cshtml";
}

<h3>Bạn muốn xóa thông tin tài khoản này?</h3>
<div>
    <h2 style="text-align:center; margin-top: 20px"><b>THÔNG TIN TÀI KHOẢN ADMIN</b></h2>
    @Styles.Render("~/Content/Giaodich.css")
    <div class="container">
        <div class="container-fluid p-0">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header pb-0">
                            <div class="card-actions float-right">
                                <div class="dropdown show">
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Email</th>
                                        <th>Họ và tên</th>
                                        <th>Username</th>
                                        <th>Số điện thoại</th>
                                        <th>Mật khẩu</th>
                                        <th>Xác nhập mật khẩu</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@Html.DisplayFor(model => model.Email)</td>
                                        <td>@Html.DisplayFor(model => model.Name)</td>
                                        <td>@Html.DisplayFor(model => model.UserName)</td>
                                        <td>@Html.DisplayFor(model => model.SDT)</td>
                                        <td>@Html.DisplayFor(model => model.Password)</td>
                                        <td>@Html.DisplayFor(model => model.Xacnhanpassword)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Xóa" class="btn btn-default" style="color: #ffffff; background: #2196f38f; box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12); padding: 0.5em 1em; display: inline-block; margin: 0.5em; margin-left: 0em !important;" />
                <button type="button" class="btn btn-default" style="color: #ffffff; background: #00aecd94; box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12); padding: 0.5em 1em; display: inline-block; margin: 0.5em 0;">@Html.ActionLink("Hủy", "ListAdmin", new { id = Model.ID })</button>
            </div>
        </div>
    }
</div>

